.footer {
  background-color: $colorPrimary;
  padding: map-get($spacers, 4) 0 0;
  color: $white;
  text-align: center;
  @include media-breakpoint-only(xs){
    padding-top: map-get($spacers, 5);
  }

  &__top {
    padding-bottom: map-get($spacers, 4);
    &__column {
      @include media-breakpoint-only(xs){
        padding-bottom: map-get($spacers, 4);

        &:last-child{
          padding-bottom: 0;
        }
      }
      .title {
        margin-bottom: map-get($spacers, 4);
        h3 {
          font-weight: 600;
          line-height: 24px;
          color: #fff;
          text-align: left;
          position: relative;
          padding-left: map-get($spacers, 4);
          @include responsive-font-size(18px);

          &::before {
            content: "";
            display: inline-block;
            background-color: #89de2e;
            width: 3px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
          }
        }
        .span-green {
          color: #89de2e;
        }
      }
      .infos {
        ul {
          list-style: none;
          padding: 0;
          li {
            display: flex;
            align-items: flex-start;
            text-align: left;
            margin: 0 0 map-get($spacers, 2);
            padding: 0;
            &::before {
              font-family: "Font Awesome 5 Pro";
              font-weight: 300;
              content: "";
              display: inline-block;
              margin-right: map-get($spacers, 3);
              font-style: normal;
              font-variant: normal;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
            a {
              color: #fff;
              display: inline-block;
              transition: all 0.5s;
              text-decoration: none;
              //   padding-left: 10px;
              @include responsive-font-size(14px);

              &:hover {
                transition: all 0.5s;
                color: #89de2e;
              }
            }
          }
        }
        p {
          text-align: left;
        }
      }
    }
  }

  &__bottom {
    background-color: #28313d;
    padding: map-get($spacers, 3) 0;
    display: flex;
    align-items: center;

    @include media-breakpoint-only(xs){
      padding: map-get($spacers, 4) 0;
    }

    &__copyright {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include media-breakpoint-only(xs){
        flex-direction: column;
      }
      .text {
        p {
          color: #fff;
          line-height: 21px;
          margin-bottom: 0;
          @include responsive-font-size(14px);
          @include media-breakpoint-only(xs){
            text-align: left;
            padding-bottom: map-get($spacers, 3);
          }

          a {
            text-decoration: none;
            color: #89de2e;
            @include responsive-font-size(14px);
          }
        }
      }
      .logo {
        img {
          width: 130px;
        }
      }
    }
  }
}
