.pageHome {
  &__cardPost {
    &__item {
      margin-bottom: 80px;
      .thumbnail {
        margin-bottom: 0;
      }
      .info-post {
        padding: 0 10px;
        .title {
          a {
            display: inline-block;
            text-decoration: none;
            color: $colorSecondary;
            font-weight: 700;
            font-size: 100%;
            margin: 0;
            @include responsive-font-size(18px);
          }
        }
        .text,
        p {
          font-weight: $colorTextPost;
          line-height: 21px;
          margin-bottom: 15px;
          @include responsive-font-size(14px);
        }
      }
    }
  }
}
